
@font-face {
  font-family: 'Dot Matrix';
  src: url('DotMatrix.woff2') format('woff2'),
      url('DotMatrix.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dot Matrix", Courier, monospace; 
}

body {
  
  background-color: #000000;

  
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

h1, ul, li, p {
  
  color: #f7f7f7;
}

ul {
  
  list-style-type: none;
}

a {
  
  color: inherit;
  text-decoration: none;
  cursor: default;
}

a:hover {
  
  color: #d36b00;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.main-container {
  
  width: 80vw;
  min-width: 800px;
  display: flex;
  justify-content: center;
  z-index: 1; 
}

.link-container {
  
  margin: 0 26px;
}

.title {
  
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0.15rem;
}

.dateTime {
  font-size: large;
  color: #f7f7f7;
  position: fixed;
  font-size: 18px;
  top: 1.3rem;
  right: 2rem;
}

.image {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0; 
}
